.heroSection {
    display: flex;
    flex-direction: column;
    gap: var(--gap-small);
    padding: 5rem 0;
    background-color: var(--text-lighter);
}

.heroSection .top {
    display: flex;
    flex-direction: column;
    gap: var(--gap-small);
    align-items: center;
    font-family: var(--font);
}

.heroSection .top > h1 {
    color: var(--accent);
    font-size: var(--h1-larger);
}

.top > p {
    text-align: center;
    width: 90%;
    font-size: var(--p-normal);
    margin-bottom: var(--margin-large);
}

.heroSection .bottom {
    margin-bottom: var(--margin-large);
}