.articles .button {
    width: fit-content;
    height: fit-content;
    margin: var(--margin-large) auto;
    padding: var(--pad-y-m) var(--pad-x-l);
    color: white;
    background-color: var(--primary);
    display: block;
}

.articles .hideButton {
    background-color: transparent;
    color: transparent;
    position: relative;
}

.articles .hideButton::before {
    content: "";
    position: absolute;
    width: 30px;
    height: 30px;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    background-color: transparent;
    border: 3px solid var(--accent);
    border-top-color: transparent;
    border-radius: 50%;
    animation: spin 0.8s linear infinite;
    ;
}

.articles .hide {
    display: none;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}