.content {
    width: calc(100% - var(--gap-large));
    height: 100%;
    display: flex;
    flex-shrink: 0;
    scroll-snap-align: center;
}

.content .left {
    display: flex;
    align-items: center;
    width: 80%;
    min-height: 100%;
}

.content .left .image {
    width: 95%;
    height: 100%;
    border-radius: 1rem;
    background-repeat: no-repeat;
        background-position: top;
        background-size: cover;
}

.content .right {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    font-family: var(--font-normal-2);
}

.content .right .contents {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    font-family: var(--font-normal-2);
    margin-right: 5rem;
}

.content .right .contents .info {
    display: flex;
    align-items: center;
    margin-right: auto;
    gap: var(--gap-small);
}

.content .right .contents .info p {
    width: fit-content;
    padding: var(--pad-y-s) var(--pad-x-m);
    background-color: rgb(216, 216, 216);
    font-size: var(--p-smaller);
    border-radius: .5rem;
}

.content .right .contents .info .breakingNews {
    background-color: var(--accent);
    color: white;
}

.content .right .contents .small {
    font-size: .8rem;
}

.content .right .contents>h1 {
    font-size: clamp(1.3rem, 2.5vw, 2rem);
    color: var(--l-text-color1);
    margin-bottom: 1rem;
}

.content .right .contents .shortDesc {
    font-size: var(--p-medium);
    color: var(--text-unhighlight);
}

.content .right .contents .button {
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: var(--gap-small);
    width: fit-content;
    padding: var(--pad-y-s) var(--pad-x-l);
    color: white;
    background-color: var(--accent);
    border-radius: .5rem;
    margin-bottom: 1rem;
}

.content .right .contents .bottom {
    display: flex;
    gap: var(--gap-small);
    width: 100%;
    margin-left: auto;
    margin-top: auto;
}

.content .right .contents .bottom .button {
    margin-bottom: 0;
}

.content .right .contents .bottom .pagination {
    width: 100%;
    height: fit-content;
    overflow: hidden;
    display: flex;
    gap: var(--gap-small);
    margin: 0 .5rem;
    padding: var(--pad-y-m) 0;
}

.content .right .contents .bottom .pagination .image {
    width: calc((100% / 3) - (var(--gap-small) * 2));
    height: 90px;
    border: 3px solid var(--accent);
    border-radius: .5rem;
    transition: .4s ease;
    cursor: pointer;
    background-repeat: no-repeat;
        background-position: top;
        background-size: cover;
}

.content .right .contents .bottom .pagination .image:hover {
    scale: 1.03;
}

.content .right .contents .bottom .pagination .unhighlight {
    opacity: .4;
}

@media (max-width: 1000px) {
    .content {
        flex-direction: column;
    }

    .content .right {
        width: 100%;
        height: fit-content;
        min-width: none;
        margin: 2rem 0;
    }

    .content .right .contents {
        margin-top: 5rem;
        margin-right: 0;
        margin: auto;
        width: 80%;
    }

    .content .left {
        width: 100%;
        height: fit-content;
        min-width: 0;
        justify-content: center;
    }

                                .content .left .image {
                                    width: 80vw;
                                    height: 300px;
        border-radius: 1rem;
    }
}