.article {
    display: flex;
    flex-shrink: 0;
    width: 350px;
    height: fit-content;
    padding: var(--pad-y-m) var(--pad-x-l);
    box-shadow: var(--box-shadow);
    font-family: var(--font);
    border-radius: 1rem;
    transition: all .3s ease;
}

.article:hover {
    scale: 1.004;
    box-shadow: var(--box-shadow-brighter);
}

.article .left {
    width: 40%;
    height: fit-content;
    display: grid;
    place-items: center;
    margin-right: var(--margin-normal);
    flex-shrink: 0;
}

.article .left>img {
    width: 100%;
    height: auto;
}

.article .right {
    display: flex;
    flex-direction: column;
    gap: var(--gap-normal);
    width: 60%;
}


.article .right>h3 {
    font-size: var(--p-normal);
    color: var(--accent);
    width: 90%;
    overflow: hidden;
    text-wrap: nowrap;
    position: relative;
}

.bigger .right>h3 {
    font-size: var(--p-largest);
}

.article .right>p {
    width: 90%;
    height: 16px;
    font-size: var(--p-smallest);
    overflow: hidden;
    color: var(--text-unhighlight);
    position: relative;
}

.bigger .right>p {
    font-size: var(--p-normal);
    min-height: 40%;
}

.article .right>p::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 16px;
    bottom: 0;
    left: 0;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.283), white);
}

.bigger .right>p::before {
    height: 5px;
}

.article:hover .right>h3>span {
    position: relative;
    right: 0;
    animation: slideShow 5s linear infinite;
}

@keyframes slideShow {
    to {
        right: 100%;
    }
}

.article .right .subDetails {
    display: flex;
    align-items: center;
    margin-top: auto;
    width: 95%;
    gap: var(--gap-small);
    font-size: var(--p-smaller);
}

.article .right .subDetails>span {
    background-color: var(--text-lighter);
    color: var(--text-unhighlight);
    padding: var(--pad-y-s) var(--pad-x-s);
    border-radius: .5rem;
    font-size: var(--p-larger);
}

.article .right .subDetails .category {
    color: white;
    background-color: var(--accent);
}

.article .right .subDetails .link {
    margin-right: .5rem;
    color: var(--link);
    font-size: var(--p-smaller);
    margin-left: auto;
}

.article .right .subDetails .link:hover {
    text-decoration: underline;
}

@media (max-width: 400px) {
    .bigger .right>p {
        display: none;
    }

    .bigger .right .subDetails>span {
        font-size: var(--p-smallest);
    }
}