.searchWrapper {
    width: 80%;
    height: 3rem;
    display: flex;
    align-items: center;
    gap: var(--gap-small);
    margin: auto;
}

.searchWrapper .searchInput {
    width: 100%;
    height: 90%;
    display: flex;
    gap: var(--gap-small);
    position: relative;
    align-items: center;
    box-shadow: var(--box-shadow);
    border: 2px black solid;
    border-radius: 1rem;
    flex-grow: 0;
    font-size: .8rem;
    position: relative;
        background-color: white;
}

.searchWrapper .searchInput>input {
    width: 100%;
    height: fit-content;
    border: 0;
    font-family: var(--font);
    outline: none;
    background-color: transparent;
}

.searchWrapper .searchInput .searchIcon {
    padding: 0 var(--pad-x-m);
}

.searchWrapper .searchInput .clear {
    position: absolute;
    top: 50%;
    right: .5rem;
    translate: -50% -50%;
}

.searchWrapper .searchInput .hide {
    display: none;
}

.searchWrapper>button {
    border-radius: 1rem;
    font-size: var(--p-small);
    font-family: var(--font);
    font-weight: 600;
    padding: 0 var(--pad-x-l);
    display: flex;
    align-items: center;
    gap: var(--gap-small);
    box-shadow: var(--l-box-shadow);
    border: 3px solid var(--accent);
    background-color: var(--accent);
    color: white;
    width: fit-content;
    height: 100%;
}

.searchWrapper>button:hover {
    color: var(--accent);
    background-color: white;
}

.searchWrapper .searchInput .results {
    display: flex;
    flex-direction: column;
    min-width: 100%;
    height: fit-content;
    max-height: 300px;
    box-shadow: var(--box-shadow);
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
    font-family: var(--font);
    padding-top: 1rem;
    background-color: white;
    overflow: hidden;
        overflow-y: auto;
        border-radius: .5rem;
    
        &::-webkit-scrollbar {
            background-color: transparent;
            width: 5px;
        }
    
        &::-webkit-scrollbar-thumb {
            background-color: rgb(199, 199, 199);
            border-radius: .5rem;
        }
    }
    
    .searchWrapper .searchInput .hideResults {
        display: none;
    }
    
    .searchWrapper .searchInput .results .textWrapper {
        width: 100%;
        height: fit-content;
        display: flex;
        justify-content: center;
        padding: .5rem 0;
        cursor: pointer;
    }
    
    .searchWrapper .searchInput .results .textWrapper:hover {
        background-color: #e2e2e2a4;
    }
    
    .searchWrapper .searchInput .results .textWrapper .text {
        width: 90%;
}