.banner {
    width: 100%;
    min-height: 100%;
    display: flex;
    align-items: end;
    justify-content: center;
    gap: var(--gap-large);
    font-family: var(--font);
    color: white;
    position: relative;
    flex-shrink: 0;
    scroll-snap-align: center;
    overflow: hidden;
}

.banner .buttons {
    display: flex;
    width: 100%;
    height: 95%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.banner .buttons .button {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: var(--h1-normal);
    background-color: rgba(0, 0, 0, 0.372);
}

.banner .image {
    width: min(100%);
    height: 400px;
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    z-index: 0;
}

.banner .contents {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: end;
    width: 100%;
    height: 50%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.326), rgba(0, 0, 0, 0.539), rgba(0, 0, 0, 0.876), black);
    padding: 3rem 0;
}

.banner .contents>* {
    margin: 0 3rem;
}

.banner .contents span {
    font-size: var(--p-smaller);
}

.banner .contents .headline {
    font-size: var(--h1-smaller);
    z-index: 1;
}

.banner:hover .contents .headline {
    text-decoration: underline;
}

.banner .contents .category {
    border-top: 2px solid white;
    padding-top: 1rem;
}

@media (max-width: 300px) {
    .banner .contents {
        padding: 0 1rem;
    }

    .banner .contents>* {
        margin: 0 1rem;
    }
}