.search {
    display: flex;
    flex-direction: column;
    width: 100vw;
    min-height: 100vh;
    padding: 1rem 0;
}

.search .searchWrapper {
    width: 95%;
    flex-shrink: 0;
}

.search .results {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 85vh;
    padding: 1rem 0;
    overflow: hidden;
    overflow-y: auto;
}

.search .results .article{
    width: 80%;
    margin: .5rem auto;
}

.search .results .article .right>p {
    width: 90%;
    height: 16px;
    font-size: var(--p-normal);
    overflow: hidden;
    color: var(--text-unhighlight);
    position: relative;
}