.notFound {
    display: flex;
    flex-direction: column;
    gap: var(--gap-small);
    padding: 5rem 0;
    background-color: var(--text-lighter);
}

.notFound .button {
    width: fit-content;
    height: fit-content;
    margin: var(--margin-large) auto;
    padding: var(--pad-y-m) var(--pad-x-l);
    color: white;
    background-color: var(--primary);
    display: block;
}

.notFound .top {
    display: flex;
    flex-direction: column;
    gap: var(--gap-small);
    align-items: center;
    font-family: var(--font);
}

.notFound .top>h1 {
    color: var(--accent);
    font-size: var(--h1-larger);
}

.top>p {
    text-align: center;
    width: 90%;
    font-size: var(--p-normal);
    margin-bottom: var(--margin-large);
}

.notFound .bottom {
    margin-bottom: var(--margin-large);
}